.form {
  width: 26%;
  height: 43%;
  border-radius: 10px;
  position: absolute;
  top: 30vh;
  left: 35vw;
  box-shadow: 0 8px 10px rgba(128, 128, 128, 0.5);
}

.contentContainer {
  width: 100%;
  height: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 6px 0px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.actionsContainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: -25px;
}

.showPasswordInput {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  position: relative;
  top: -13px;
  left: -29px;
  margin-top: 6px;
}

.showPassword {
  margin: 0px;
}
