.button {
  width: 115px;
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  border-style: solid;
  padding: 5px 0px;
  cursor: pointer;
}

.primary {
  color: gold;
  background-color: brown;
  border-color: gold;
}

.secondary {
  color: brown;
  background-color: #ffffff;
  border-color: brown;
}
