.dropdownContainer {
  width: 160px;
  height: 140px;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border: 1px solid brown;
  background-color: blanchedalmond;
  position: absolute;
  top: 40px;
  left: 824px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 8px 10px rgba(128, 128, 128, 0.5);
}

.userInfo {
  color: brown;
  margin: 0;
}

.name {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.property {
  font-family: sans-serif;
  font-size: 14px;
}

.option {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 0;
  cursor: pointer;
}

.icon {
  color: brown;
  position: relative;
  top: 20px;
} 

.optionButton {
  font-family: sans-serif;
  font-size: 16px;
  color: brown;
  font-weight: 800;
  margin-bottom: 0;
}
