.button {
  width: 115px;
  line-height: 26px;
  color: #0904d5;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  padding: 5px 0px;
  cursor: pointer;
}

.primary {
  background-color: #03A9F4;
  border-color: #0904d5;
}

.secondary {
  color: #df1405;
  background-color: rgba(255, 0, 0, 0.2);
  border-color: #df1405;
}
