.avatar {
  width: 170px;
}

.userCard {
  width: 170px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 8px 8px rgba(128, 128, 128, 0.5);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 10px;
}

.name, .role, .email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  height: 22px;
}

.infoLabel {
  font-family: sans-serif;
  width: 70%;
  border-bottom: 1px solid;
  margin: 0px;
  font-weight: 600;
  position: relative;
  top: -7px;
}

.label, .property {
  font-family: sans-serif;
  font-size: 15px;
}

.icon {
  font-size: 22px;
  color: #ffc784;
}
