.usersContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 1em;
  width: fit-content;
  position: relative;
  top: 10vh;
  left: 25vw;
}

.title {
  font-family: sans-serif;
  color: brown;
  font-size: 28px;
  padding-left: 10px;
  margin-bottom: 0px;
}

.divider {
  width: 12%;
  color: brown;
  position: absolute;
  top: 82px;
  left: 12px;
  border: 1px solid;
}
